.st0{fill:#CFE5E8;}
.st1{fill:#AC8FC7;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st2{fill:#FFEB64;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st3{fill:#FBD165;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st4{fill:#89B8E4;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:#F8A758;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st6{fill:#BACE6B;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st7{fill:#E89BBD;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st8{fill:#8EC79A;stroke:#808080;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st1:hover{fill:#AC8FC7}
.st2:hover{fill:#FFEB64}
.st3:hover{fill:#FBD165}
.st4:hover{fill:#89B8E4}
.st5:hover{fill:#F8A758}
.st6:hover{fill:#BACE6B}
.st7:hover{fill:#E89BBD}
.st8:hover{fill:#8EC79A}
.st9{font-family:'Roboto-Regular';}
.st10{font-size:12px;}
